
.wrap {
    .wrap-lg	{
        position: relative;
        min-height: 843px;
        width: 1264px;
        background-image:	url(../img/wrap_1264.jpg);
    }
    .wrap-md	{
        min-height:	224px;
        width: 965px;
        background-image:	url(../img/wrap970x224.jpg);
    }
    .wrap-sm	{
        min-height:	224px;
        width: 745px;
        background-image:	url(../img/wrap750x224.jpg);
    }
    .wrap-xs	{
        min-height:	224px;
        width: 745px;
        background-image:	url(../img/wrap750x224.jpg);
        .sitename {
            padding-left: 40px;
            text-align: left;
        }
    }
}
    